<header wvHeader>
  <div class="nav-right-section" rightSection>
    <a wvNavLink>Link 1</a>
    <a wvNavLink>Link 2</a>
    <a wvNavLink>Link 3</a>
    <button wvButton type="glass" [icon]="heroMagnifyingGlass"></button>
  </div>
</header>

<div class="container">
  <div class="row">
    <button wvButton type="dark" >Bouton dark</button>
    <button wvButton type="primary" >Bouton primary</button>
    <button wvButton type="glass" >Bouton glass</button>
    <button wvButton type="white" >Bouton white</button>
  </div>

  <div class="row">
    <button wvButton [icon]="heroFaceSmile" type="dark" >Bouton dark</button>
    <button wvButton [icon]="heroFaceSmile" type="primary" >Bouton primary</button>
    <button wvButton [icon]="heroFaceSmile" type="glass" >Bouton glass</button>
    <button wvButton [icon]="heroFaceSmile" type="white" >Bouton white</button>
  </div>
  <div class="row">
    <button wvButton [icon]="heroFaceSmile" type="dark" ></button>
    <button wvButton [icon]="heroFaceSmile" type="primary" ></button>
    <button wvButton [icon]="heroFaceSmile" type="glass" ></button>
    <button wvButton [icon]="heroFaceSmile" type="white" ></button>
  </div>
</div>


