



:host {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  height: 100%;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--spacing-24);
    box-shadow: var(--box-shadow-1);
    app-logo {
      height: var(--spacing-64);
    }
  }
  .container {

    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: stretch;
  }
}
