



:host {
  display: flex;
  flex-direction: column;
    gap: var(--spacing-16);

  .container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-16);
    .row {
      display: flex;
      flex-direction: row;
      gap: var(--spacing-16);
    }
  }
.nav-right-section {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-24);
  justify-content: flex-end;
}

}
