



$brandColors: ();
$textColors: (
  500: var(--color-black),
);


$colorPrimary: #0e77ab;
$colorWhite: #fff;
$colorBlack: #000;





@mixin createColorVaritions($color:#8d8d8d,$label:primary,$lightenAmount:4,$darkenAmount:4,$startMixAmount:15) {
  $endMixAmount: 100;

  $changeAmount: calc(($endMixAmount - $startMixAmount) / $lightenAmount);
  $colors:();
  @for $i from 0 through $lightenAmount {
    $colors: map-merge($colors, ( ($i + 1) * 100 : mix($color, $colorWhite, $i * $changeAmount + $startMixAmount * 1%)  ));
  }

  @for $i from 1 through $darkenAmount {
    $colors: map-merge($colors, (( $i + $lightenAmount + 1) * 100 : mix($color, $colorBlack,100- $i * $changeAmount * 1%) ));
  }


  @each$key, $value in $colors {
    --color-#{""+$label}-#{$key} : #{$value};
  }


}



:root {
  --color-primary : #0e77ab;
  --color-white : #{$colorWhite};
  --color-black : #{$colorBlack};
  @include createColorVaritions($colorPrimary,primary);
  @include createColorVaritions(#232323,grey,5,0);

  @each$key, $value in $textColors {
    --color-text-#{$key} : #{$value};
  }
  --color-background-2: color-mix(in srgb, var(--color-white), var(--color-primary) 8%);
  --color-background-1: var(--color-white);
}
