@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


$titles:(
  xl: (
    font-size: 2.5rem,
  ),
  l: (
    font-size: 1.75rem,
  ),
  m: (
    font-size: 1.5rem,
  ),
  s: (
    font-size: 1.25rem,
  )
);

$texts:(
  l: (
    font-size: 1.25rem,
  ),
  m: (
    font-size: 1rem,
  ),
  s: (
    font-size: 0.875rem,
  ),
  xs: (
    font-size: 0.75rem,
  )
);

@mixin title($size: m,$bold: false) {
  font-size: map-get(map-get($titles, $size), font-size);
  font-weight: if($bold, bold, normal);
}

@mixin text($size: m,$bold: false) {
  font-size: map-get(map-get($texts, $size), font-size);
  font-weight: if($bold, bold, normal);
}


* {
  font-family: 'Work Sans', sans-serif;
  @include text(m);
}
