:host {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  padding-top:var(--spacing-48);
  wave-menu {
    border-right : 1px solid #e0e0e0;
    min-width:200px
  }
  .container {
    padding:0 var(--spacing-48);
    flex: 1;
  }
}
